




<h1>Hola mundo</h1>

<h2>{{2*3}}</h2>

<div>
  <p><strong>Nombre:</strong>{{name}}</p>
  <p><strong>Edad:</strong>{{age}}</p>
  <p><strong>Amigos:</strong>{{friends}}</p>
</div>

<div>
  <input type="number" name="number1" id="number1" (keyup)="setData1($event)">
  <input type="number" name="number2" id="number2" (keyup) = "setData2($event)">
  <button (click)="calculator(data1, data2, '+')">+</button>
  <button (click)="calculator(data1, data2, '-')">-</button>
  <button (click)="calculator(data1, data2, '*')">*</button>
  <button (click)="calculator(data1, data2, '/')">/</button>
  <h6>Resultado: {{resultado}}</h6>
</div>